body {
    background-color: lightslategrey;
}
h2 {
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: darkgreen;
}
#itsme {
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
#jornada {
    text-align: left;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
#ferramentas {
    text-align: left;
    display: inline;
    list-style-type: square;
    font-size: 18px;
}
ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#ferramentas li {
    font-size: justify;
    align-items: center;
    color: darkgreen;
}
h1 {
    color: white;
    text-align: center;
}
#PCT {
    color: darkgreen;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
section {
    font-style: oblique;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}
h3 {
    text-align: center;
    color: darkgreen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
#Figma {
    text-align: center;
    
}
#Front {
    text-align: center; 
}
footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 10px;;
    font-family: Arial, Helvetica, sans-serif;
}
footer a {
    color: darkgreen;
}
details > summary {
    background-color: darkgreen;
    max-width: 200px;
    margin-top: 10px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    color: darkgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 16px;;
}
